/resources/public/js/compiled/**
/resources/test/js/compiled/**
figwheel_server.log
pom.xml
*.jar
*.js
/lib/
/classes/
/out/
/target/
/node_modules/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
profiles.clj
.lein-env
